{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "This is the cloudformation to create opsworks for vuls",
  "Parameters": {
    "VPC" : {
        "Description" : "Input VPC ID",
        "Type": "AWS::EC2::VPC::Id"
    }
  },
  "Resources": {
    "VulsOpsWorksServiceRole": {
      "Type": "AWS::IAM::Role",
      "Properties": {
        "AssumeRolePolicyDocument": {
          "Statement": [
            {
              "Effect": "Allow",
              "Principal": {
                "Service": [
                  "opsworks.amazonaws.com"
                ]
              },
              "Action": [
                "sts:AssumeRole"
              ]
            }
          ]
        },
        "Path": "/",
        "Policies": [
          {
            "PolicyName": "opsworks-service",
            "PolicyDocument": {
              "Statement": [
                {
                  "Effect": "Allow",
                  "Action": [
                    "ec2:*",
                    "iam:PassRole"
                  ],
                  "Resource": "*"
                }
              ]
            }
          }
        ]
      }
    },
    "VulsOpsWorksInstanceRole": {
      "Type": "AWS::IAM::Role",
      "Properties": {
        "AssumeRolePolicyDocument": {
          "Statement": [
            {
              "Effect": "Allow",
              "Principal": {
                "Service": [
                  "ec2.amazonaws.com"
                ]
              },
              "Action": [
                "sts:AssumeRole"
              ]
            }
          ]
        },
        "Path": "/"
      }
    },
    "VulsOpsWorksInstanceProfile": {
      "Type": "AWS::IAM::InstanceProfile",
      "Properties": {
        "Path": "/",
        "Roles": [{ "Ref": "VulsOpsWorksInstanceRole" }]
      }
    },
    "SecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "GroupDescription" : "This is for vuls dev.  allow any servers to access to this through 1414",
        "SecurityGroupIngress" : [{
          "CidrIp" : "0.0.0.0/0",
          "IpProtocol" : "tcp",
          "FromPort" : 1414,
          "ToPort" : 1414
        }],
        "Tags" :  [{"Key" : "Name", "Value" : "vuls-dev-open-port-1414" }],
        "VpcId" : { "Ref" : "VPC" }
      }
    },
    "VulsStack": {
      "Type": "AWS::OpsWorks::Stack",
      "Properties": {
        "Name": {
          "Ref": "AWS::StackName"
        },
        "ConfigurationManager" : { 
          "Name" : "Chef",
          "Version": "12"
        },
        "CustomCookbooksSource" : {
          "Type" : "git",
          "Url" : "https://github.com/sadayuki-matsuno/vuls-cookbook.git"
        },
        "DefaultOs": "Amazon Linux 2016.03",
        "HostnameTheme" : "Legendary_creatures_from_Japan",
        "UseCustomCookbooks" : "true",
        "UseOpsworksSecurityGroups" : "false",
        "ServiceRoleArn": {
          "Fn::GetAtt": [ "VulsOpsWorksServiceRole", "Arn"]            
        },
        "DefaultInstanceProfileArn": {
          "Fn::GetAtt": [ "VulsOpsWorksInstanceProfile", "Arn"]
        }
        
      }
    },
    "VulsLayer": {
      "Type": "AWS::OpsWorks::Layer",
      "DependsOn": "VulsStack",
      "Properties": {
        "StackId": { "Ref": "VulsStack" },
        "Name": "VulsLayer",
        "Shortname" : "vuls-sacnner",
        "Type": "custom",
        "EnableAutoHealing": "false",
        "AutoAssignElasticIps": "false",
        "AutoAssignPublicIps": "true",
        "CustomRecipes" : {
          "Setup" : [ "vuls::setup", "vuls::go_cve_dictionary" ],
          "Deploy" : [ "vuls::scan" ]
        },
        "CustomSecurityGroupIds" :  [ { "Ref": "SecurityGroup"} ],
        "InstallUpdatesOnBoot" : "true"
      }
    },
    "VulsInstance": {
      "Type": "AWS::OpsWorks::Instance",
      "Properties": {
        "StackId": { "Ref": "VulsStack" },
        "LayerIds": [{ "Ref": "VulsLayer" }],
        "RootDeviceType": "ebs",
        "InstanceType": "t2.micro"
      }
    },
    "VulsApp": {
      "Type": "AWS::OpsWorks::App",
      "Properties": {
        "AppSource" : {
          "Type" : "git",
          "Url" : "https://github.com/future-architect/vuls.git",
          "Revision": "master"
        },
        "Description" : "Vuls App",
        "Name" : "VulsApp",
        "Shortname" : "VulsApp",
        "StackId" : { "Ref": "VulsStack" },
        "Type" : "other"
      }
    }
  },
  "Outputs" : {
    "StackId" : {
      "Value" : { "Ref" : "VulsStack" }
    },
    "LayerId" : {
      "Value" : { "Ref" : "VulsLayer" }
    },
    "InstanceId" : {
      "Value" : { "Ref" : "VulsInstance" }
    },
    "AppId" : {
      "Value" : { "Ref" : "VulsApp" }
    }
  }
}
