{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "This is the cloudformation to create instaces for vuls",
  "Parameters": {
    "VPC" : {
        "Description" : "Input VPC ID",
        "Type": "AWS::EC2::VPC::Id"
    },
    "AZ" : {
        "Description" : "Input Availability Zone",
        "Type": "AWS::EC2::AvailabilityZone::Name",
        "Default": "ap-northeast-1a"
    },
    "Keyname": {
        "Description" : "Input EC2 Keyname",
        "Type": "AWS::EC2::KeyPair::KeyName"
    },
    "SecurityGroupID": {
        "Description" : "Input SecurityGroup ID attaced to instances",
        "Type" : "String",
        "Default" : "",
    },
    "VulsScanServerIP": {
      "Description": "Input IP (not CIDR) of a Vuls Scan server that is permitted to access this servers by SSH. \n If you do not input this field, then skip creating security group for a vuls scan server",
      "Default": "",
      "MaxLength": 15,
      "AllowedPattern" : "[0-9.]*",
      "Type": "String"
    },
  },
  "Mappings" : {
    "DefaultSshUser" : {
      "Amazon": { "Home" : "/home/ec2-user", "User" : "ec2-user" },
      "Ubuntu": { "Home" : "/home/ubuntu", "User" : "ubuntu"},
      "CentOS": { "Home" : "/home/centos", "User" : "centos"},
      "Redhat": { "Home" : "/home/ec2-user", "User" : "ec2-user"}
    }
  },
  "Conditions" : {
    "CreateSSHSecurityGroup" : {"Fn::Not": [ {"Fn::Equals" : [{"Ref" : "VulsScanServerIP"}, ""]}]},
    "FalseCondition" : {"Fn::Equals" : ["true", "false"]}
  },
  "Resources": {
    "SecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Condition" : "CreateSSHSecurityGroup",
      "Properties": {
        "GroupDescription" : "This is for vuls dev. Enable to ssh servers from Vuls Scanner",
        "SecurityGroupIngress" : [{
          "CidrIp" : { "Fn::Join" : [ "",[ { "Ref" : "VulsScanServerIP" }, "/32" ] ] },
          "IpProtocol" : "tcp",
          "FromPort" : 22,
          "ToPort" : 22
        }],
        "Tags" :  [{"Key" : "Name", "Value" : "vuls-dev-enable-vuls-scanner-to-ssh" }],
        "VpcId" : { "Ref" : "VPC" }
      }
    },
    "AmazonLinux2015091": {
      "Type": "AWS::EC2::Instance",
      "Properties": {
        "ImageId":"ami-383c1956",
        "AvailabilityZone": { "Ref" : "AZ" }, 
        "InstanceType": "t2.nano",
        "KeyName": { "Ref" : "Keyname" },
        "SecurityGroupIds": [{ "Ref" : "SecurityGroupID" }],
        "UserData" : { "Fn::Base64" : { "Fn::Join" : ["", [
          "#cloud-config","\n",
          "repo_upgrade: none","\n",
          "runcmd:", "\n",
          "  - echo $? > /tmp/cloudformation_userdata_status.log", "\n"
        ] ] } },
        "Tags" : [{"Key" : "Name", "Value" : "vuls-dev-amz-201509" }]
      }
    },
    "Redhat6": {
      "Type": "AWS::EC2::Instance",
      "Properties": {
        "ImageId":"ami-53641e52",
        "AvailabilityZone": { "Ref" : "AZ" }, 
        "InstanceType": "t2.micro",
        "KeyName": { "Ref" : "Keyname" },
        "SecurityGroupIds": [{ "Ref" : "SecurityGroupID" }],
        "UserData" : { "Fn::Base64" : { "Fn::Join" : ["", [
          "#cloud-config","\n",
          "repo_upgrade: none","\n",
          "runcmd:", "\n",
          "  - echo $? > /tmp/cloudformation_userdata_status.log", "\n"
        ] ] } },
        "Tags" : [{"Key" : "Name", "Value" : "vuls-dev-rhel-6" }]
      }
    },
    "CentOS7": {
      "Type": "AWS::EC2::Instance",
      "Properties": {
        "ImageId": "ami-eec1c380",
        "AvailabilityZone": { "Ref" : "AZ" }, 
        "InstanceType": "t2.nano",
        "KeyName": { "Ref" : "Keyname" },
        "SecurityGroupIds": [{ "Ref" : "SecurityGroupID" }],
        "UserData" : { "Fn::Base64" : { "Fn::Join" : ["", [
          "#cloud-config","\n",
          "repo_upgrade: none","\n",
          "runcmd:", "\n",
          "  - echo $? > /tmp/cloudformation_userdata_status.log", "\n"
        ] ] } },
        "Tags" : [{"Key" : "Name", "Value" : "vuls-dev-centos-6" }]
      }
    },
    "Ubuntu1404": {
      "Type": "AWS::EC2::Instance",
      "Properties": {
        "ImageId":"ami-0016a600",
        "AvailabilityZone": { "Ref" : "AZ" }, 
        "InstanceType": "t2.nano",
        "KeyName": { "Ref" : "Keyname" },
        "SecurityGroupIds": [{ "Ref" : "SecurityGroupID" }],
        "UserData" : { "Fn::Base64" : { "Fn::Join" : ["", [
          "#cloud-config","\n",
          "repo_upgrade: none","\n",
          "runcmd:", "\n",
          "  - echo $? > /tmp/cloudformation_userdata_status.log", "\n"
        ] ] } },
        "Tags" : [{"Key" : "Name", "Value" : "vuls-dev-ubuntu-1404" }]
      }
    }
  },
  "Outputs" : {
    "AmazonPublicIP" : {
      "Value" : { "Fn::GetAtt" : [ "AmazonLinux2015091", "PublicIp" ] }
    },
    "RedHatPublicIP" : {
      "Value" : { "Fn::GetAtt" : [ "Redhat6", "PublicIp" ] }
    },
    "CentOSPublicIP" : {
      "Value" : { "Fn::GetAtt" : [ "CentOS7", "PublicIp" ] }
    },
    "UbuntuPublicIP" : {
      "Value" : { "Fn::GetAtt" : [ "Ubuntu1404", "PublicIp" ] }
    }
  }
}
